*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    background-color:rgb(227, 225, 225);
    box-sizing: border-box;
}
body{
    display:flexbox;
    flex-direction: column;
}
h1{
    font-size: 45px;
    text-align: center;
    margin: 20px;
    
}
form{
    max-width: 60%;
    align-items: center;
    border: solid grey 4px;
    border-radius: 6px;
    font-size: 25px;
    padding: 20px 50px 15px 50px;
    box-shadow: 0 2px 4p rgba(0,0,0, 02.);
    background-color: white;
    margin-left: 20%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

label{
    margin: 10px;
    background-color: white;

}
input{
    display: block;
    background-color: rgb(227, 224, 224);
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 25px;
}
select {
    font-size: 25px;
}
button{
    background-color: #007bff;
    color:black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    width: 95%;
}
